<h4>Đặt chổ ngồi:</h4>

<div class="grid-container">
        <% @seats.each do |seat| %>
            
            <div class="grid-item">
                <%= link_to seat.name, new_seat_booking_path(seat) %>
            </div>

        <% end %>

</div>
