<h4>Đặt chổ ngồi</h4>

<div class="grid-container">
        <% @seats.each do |seat| %>
            <div class="grid-item">

                <%= link_to seat.name, new_booking_path(seat) %> <br>
            </div>

        <% end %>

</div>
