<h4>Đặt chổ ngồi</h4>

<div class="grid-container">
        <% @seats.each do |seat| %>
            <div class="grid-item">

                <%= seat.name %> <br>
            </div>

        <% end %>
</div>