<div class="ticket col-md-6 col-md-offset-3">
    <div class="info">
        <h1>Thông tin vé</h1>
    </div>
    <div class="content">
        <div class="ticket_detail">
           
            <p>Mã code: </p>
            <p>Tên phim:</p>
            <p>Xuất chiếu: </p>
            <p>Ngày chiếu: </p>
            <p>Số ghế: </p>
            <p>Thành tiền:  đ</p>
        </div>
    </div>

</div>
       