<div class="box">
        <div class="image">
                <%= image_tag film.display_image if film.image.attached? %>
        </div>
        <div class="content">
                <%= link_to film.name, film_path(film) %> 
                <p><%= film.time %> phút</p>
        </div>
</div>
