<h3>Phim Mới</h3>

<section class="movie">
    <div class="movie-item">
        <%= render @films %> 
    </div>
    <div id="load_more">
        <%= raw pagy_nav(@pagy) %>
    </div>
</section>
