<h1>All days </h1>


<% @days.each do |day| %>

   Lịch chiếu: <%= link_to day.name, day_path(day) %> 
   | Xuất chiếu: <%= link_to day.showtimes.size %> 
   | <%= link_to day.room.name, room_path(day.room) %><br>

<% end %>



<%= link_to "Create days", new_day_path(@room) %>
