<div>
    <h1>Page Room: <%= @room.name %></h1>
    <h4 class="text-center">The room has <%= pluralize @room.seats.count, "seat" %></h4>
</div>

<% @room.seats.each do |a| %>

    <%= a.name %> <br>

<% end %>

<%= link_to "Create Seat", new_room_seat_path(@room) %>