// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    box-sizing: border-box;
    overflow-x: hidden;
}


header {
    padding: 0 8%;
    height: 50px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    ul {
        li {

            a {
                color: rgb(39, 37, 37);

                &:hover {
                    background: transparent !important;
                    color: whitesmoke;
                }
            } 
            
            .header-name {
                color: rgb(252, 249, 251);
                cursor: pointer;
            }
        }
    }

    #logo {
        font-size: 22px;
        color: rgb(39, 37, 37);
        text-transform: uppercase;
        text-decoration: none;
    }
    
}   


.container {
    margin-top: 50px;

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;

        .box {

            img {
                width: 250px;
                height: 350px;
            }
        }
       
    }

    .detail {

        .box {
            display: flex;

            img {
                width: 250px;
                height: 350px;
            }

            .name {
                color: red;
                padding-left: 10px;
                font-size: 20px;
            }

            .times {
                padding-left: 10px;
                padding-top: 10px;
                font-size: 18px;
                display: flex;

                .minutes {
                    margin-right: 15px;
                }
            }

            .showtimes {
                padding-left: 10px;
                padding-top: 10px;
                font-size: 14px;
                width: 100%;

                .showtime {
                    margin-top: 10px;

                    a {
                        width: 100%;
                        border: 1px solid rgba(126, 121, 121, 0.9);
                        text-decoration: none;
                        padding: 0 4px;

                        &:hover {
                            color: rgb(252, 78, 15);
                            background-color: black;
                        }
    
                    }
             
                }
                       
            }
        }
    }
}


.footer {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin-top: 150px;
    padding: 0 8%;
    border-top: .1rem solid rgb(185, 181, 181);
    color: rgb(31, 30, 30);

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;

        .box {
           
            p {
                line-height: 1.4;
                font-weight: bolder;
                font-size: 2rem;
                color: rgba(83, 83, 241, 0.7);
                padding-top: .5rem;
                text-transform: uppercase;         
            }

            a {
                display: block;
                font-size: 1.5rem;
                color: rgb(22, 21, 21);
                padding: .5rem 0;
                text-decoration: none;
                transition: linear .2s;

                &:hover {
                    padding-left: 1rem;
                    color: whitesmoke;
                }
            }

            .footer-app {
                
                img {
                    padding: .5rem 0;
                }
            } 
        }
         
    }

    .credit {
        text-align: center;
        font-size: 2rem;
        color: rgb(209, 211, 212);
        background: linear-gradient(circle,rgba(238,174,202,1) 100%, rgba(148,187,233,1) 0%);
    
        span {
            color: var(--orange);
        }
    }   
    
}
