// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #fff;
$background-color: #001232;
$text-hover: rgb(248, 86, 86);
$text-active: #31d7a9;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 14rem;

    body {
        background-color: $background-color;
    }

    &::-webkit-scrollbar {
        width: 8px;
        scrollbar-width: thin;

    }

    &::-webkit-scrollbar-track {
        background-color: $background-color;

    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 100rem;
        background-color: $primary-color;
    }

}

.btn {
    width: 100%;
    margin-top: 10px;

    .btn-primary {
        width: 100%;    
    }
}
  


header {
    padding: 0 8%;
    margin-top: -.5rem;
    height: 9rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.102);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {

            width: 30rem;

            img {
                height: 6rem;
                width: 100%;
                padding-bottom: 1.6rem;
            }
        }

        .search {

            width: 25rem;

            input {
                width: 100%;
                height: 3rem;
                background: rgba(124, 115, 115, 0.5);
                border: .1rem solid rgba(124, 115, 115, 0.5);
                outline: none;
                display: flex;
                align-items: center;
                overflow: hidden;
                margin-left: -30%;
                border-radius: 2rem;
                padding-left: 1rem;
                margin-top: 1rem;
                color: $primary-color;

                &::-webkit-input-placeholder {
                    color: rgba(206, 197, 197, 0.9);
                }

                &:focus {
                    border: .1rem solid rgb(210, 210, 212);
                }
            }
        }

        .login {

            list-style: none;
            display: flex;

            a {
                text-decoration: none;
                color: rgba(206, 197, 197, 0.9);
            }

            .header-name {
                color: $text-hover;
            }
        }
    }

    .navbar {
        height: 4rem;
        padding: 0 15%;
        margin-top: -1.4rem;

        ul {
            display: flex;
            justify-content: space-between;
            line-height: 4rem;
            margin-bottom: 0;
            cursor: pointer;
            list-style: none;
            
            .active {
                border-bottom: .2rem solid $text-hover;
            }

            a {
                color: $primary-color;
                line-height: 1rem;
                text-decoration: none;
                text-transform: uppercase;

                    &:hover {
                        color: $text-hover;
                        border-bottom: .2rem solid $text-hover;
                        transition: all .3s ease;                       
                    }
            
            }
       }
    }
    
}

.header-active {
    background-color: #0a1e5e;
}

.slider {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-bottom: 2rem;

    .banner-bg {
        margin-top: -8rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: $background-color;
        background-blend-mode: lighten;
        opacity: 0.3;
    }

    .banner-conntent {
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            color: $primary-color;
            font-size: 7rem;
            font-weight: 800;
        }
        
        h2 {
            color: rgba(206, 197, 197, 0.9);
            font-weight: 400;
            text-align: center;
        }

        .typing {
            display: flex;
            align-items: center;
            justify-content: center;

            .static-text {
                font-size: 7rem;
                color: $primary-color;
                position: relative;
                font-weight: 800;
                transition: all .2s linear ;           
            }  
            
            .dynamic-texts {
                margin: 0;
                padding: 0;
                height: 10rem;
                margin-left: 1.5rem;
                overflow: hidden;
                
                li {
                    list-style: none;
                    font-size: 7rem;
                    font-weight: 800;
                    line-height: 10rem;
                    height: 12rem;
                    position: relative;
                    top: 0;  
                    overflow: hidden;
                    animation: slide 9s steps(3) infinite;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 10%;
                        right: 0;
                        width: .3rem;
                        height: 65%;
                        background: #00B70C;
                    } 

                    @keyframes slide {
                        100% {
                            top: -360px;
                        }
                    }
                        p {
                            color: #00B70C;
                            position: relative;
                            top: 0;
                            left: 0;
                            animation: typing 3s infinite;
                            margin: 0;

                        }

                        @keyframes typing {
                            0%, 90%, 100% {
                                width: 0;
                            }
                            
                            30%, 60% {
                                width: 253.63px;
                            }          
                        }            
                }
            }    

        }
        
    }
  
}

.container {

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: $primary-color;
    }

    h3 {
        color: rgb(144, 176, 247);
        border-bottom: .2rem solid #00B70C;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: $primary-color;
    }

    form {

        input {
            width: 100%;
            background: transparent;
            border: .1rem solid #38a6e6;
            color: #38a6e6;
            padding: 1rem 0;
            border-radius: 2rem;
            margin: 1.5rem 0;
            padding-left: 1rem;
        }

        label {
            color: #fff;
        }

        
    }

    .movie {
      
        .movie-item {

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            gap: 1.5rem;
            margin-bottom: 2rem;
            
            .box {

                background: #032055;
                border-radius: .5rem;
                outline-offset: -1rem;
                transition: .2s linear;

                    .image {
                        height: 38rem;
                        overflow: hidden;  
                        cursor: pointer;
                        border-top-left-radius: 1rem;
                        border-top-right-radius: 1rem;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .content {
                        padding: 2rem 2rem 1rem;
                        color: $primary-color;

                        p {
                            padding-top: 1rem;
                            margin-bottom: 0;
                        }
                    }

            }   

            .box:hover {

                .image {

                    img {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }              

            }
                     
        }     

    }

    .review {
      
        .review-item {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            gap: 1.5rem;
            margin-top: 1rem;
 

            .box {
                background: #032055;
                border-radius: .5rem;
                text-align: center;
                padding: 2rem 2rem;
                outline-offset: -1rem;
                transition: .2s linear;

                img {
                    height: 10rem;
                    width: 10rem;
                    border-radius: 50%;
                    margin-bottom: 1rem;
                }

                p {
                    color: rgb(201, 187, 187);
                }

                h4 {
                    color: $primary-color;
                }
            }
        }
    }

    .detail {

        .box {
            display: flex;

            img {
                width: 25rem;
                height: 35rem;
            }

            .name {
                color: $text-hover;
                padding-left: 10px;
                font-size: 20px;
            }

            .times {
                padding-left: 1rem;
                padding-top: 1rem;
                font-size: 1.8rem;
                display: flex;
                color: $primary-color;

                .minutes {
                    margin-right: 1.5rem;
                }
            }

            .showtimes {
                padding-left: 1rem;
                padding-top: 1rem;
                font-size: 1.4rem;
                width: 100%;
                color: $primary-color;

                .showtime {
                    margin-top: 1rem;
                    
                    a {
                        width: 100%;
                        border: 1px solid rgba(126, 121, 121, 0.9);
                        text-decoration: none;
                        font-size: 1.6rem;
                        padding: .5rem;
                        border-radius: .4rem;
                        color: rgb(144, 176, 247);

                        &:hover {
                            color: $text-hover;
                            background-color: black;
                            border-radius: .4rem;
                        }

                    }

                }

            }
        }
    }

    .grid-booking {
        .screen {
            background: $primary-color;
            height: 7rem;
            width: 80%;
            transform: rotateX(-45deg);
            box-shadow: 0 2rem 3rem rgba(255,255,255,0.7);
            display: flex;
            margin: 0 auto;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1.4rem 0;

            .grid-item {
                background-color: rgba(132, 168, 245, .5);
                border: 1px solid rgba(0, 0, 0, 0.8);
                color: $primary-color;
                font-size: 1.5rem;
                line-height: 4rem;
                text-align: center;
                cursor: pointer;
                height: 4rem;
                width: 4rem;
                margin: 0 .6rem;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
        
                &.active {
                    background-color: #00B70C;
                }        
                
                &.booked {
                    background-color: #D00000;
                    cursor: not-allowed;
                }

                &:nth-of-type(2) {
                    margin-right: 3rem;
                }

                &:nth-last-of-type(2) {
                    margin-left: 3rem;
                }
            }

          
    
        }
        
    }  
 
    .booking {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary-color;
   
        .seat-select {
            display: flex;   

            div {
                display: flex;
                margin-right: 1rem;
                padding: 1rem 0;
                border-radius: .5rem;
                align-items: center;
                
                .available {
                    width: 3rem;
                    height: 3rem;
                    background-color: rgba(132, 168, 245, .5);
                }
                .sold {
                    width: 3rem;
                    height: 3rem;
                    background-color: #D00000;
                }
                .selected {
                    width: 3rem;
                    height: 3rem;
                    background-color: #00B70C;
                }
            }
            
        }

        .content-booking {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            div {

                width: 30rem;

                img {
                    border-radius: 1rem;
                    width: 100%;
                    height: 15rem;
                }
            }
            span {
                padding: .5rem;
            }
        }
    }

    .payment {
        padding-top: 3rem;

        .box {
            display: flex;
    
            .image {
                padding-right: 2rem;
            }

            .content {
                color: rgb(144, 176, 247);

                span {
                    color: $primary-color;
                }
            }

        }

        a {
            text-decoration: none;
            color: $primary-color;
        }
    }

    .ticket {

        .info {
            color: $primary-color;
        }

        .content {
            position: relative;
            box-sizing: border-box;
            width: 30rem;
            height: 45rem;
            margin: 2rem auto;
            padding: 2rem;
            border-radius: 1rem;
            background: #FBFBFB;
            box-shadow: .5rem .5rem 5rem 0 rgb(144, 176, 247);
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:before,
            &:after {
              content: '';
              position: absolute;
              left: .5rem;
              height: .6rem;
              width: 29rem;
            }
            
            &:before {
              top: -.5rem;
              background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -.7rem -.8rem / 1.6rem 1.6rem repeat-x,
            }
            
            &:after {
              bottom: -.5rem;
              background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -.7rem -.2rem / 1.6rem 1.6rem repeat-x,
            }
            
            .ticket_detail {
                text-align: center;

                p {
                    margin-top: 1rem;
                }
            }
        }         
    }   

    .news {

        display: flex;

        .article {

            .post-item {

                background-color: #032055;
                border-radius: 7px 7px 10px 10px;
                margin-bottom: 30px;
                cursor: pointer;
                overflow: hidden;
    
                .post-image {
                   
                    img {
                        width: 100%;
                        border-radius: .7rem;
                    }
                }
    
    
                .post-content {
    
                    padding: 1rem 2rem;
    
                    h4 {
                        color: $primary-color;
                        font-size: 2.5rem;
                        line-height: 1.5;
    
                        &:hover {
                            color: #00B70C;
                        }
                    }
                
                    .meta-post {
    
                        display: flex;
                        color: rgb(238, 220, 220);
    
                        p {
                            padding-right: 2rem;
                        }
                    }
    
                    p {
                        color: rgb(238, 220, 220);
                        font-size: 1.6rem;
                        line-height: 1.5;
                    }
                }
    
                .post-bottom {
                    border-top: .1rem solid #11326f;
                    display: flex;
                    justify-content: space-between;
    
                    p {
                        padding-top: 2rem;
                    }
    
                    .read-more {
                        color: #00B70C;
                    }
                }
            }
    
            &:hover {
    
                .post-image {
    
                    img {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
            }
        }
            
        .article:nth-child(2) {
            
            .post-item {

                .post-image {
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: 100%;
                    scroll-snap-type: x mandatory;
                    scroll-snap-stop: always;
                    animation: scroll 14s infinite;
                    position: relative;
                    left: 0;

                    img {
                        scroll-snap-align: center;
                    }

                    &::-webkit-scrollbar {
                        height: .1rem;
                        scrollbar-width: thin;          
                    }
                
                    &::-webkit-scrollbar-track {
                        background-color: transparent;        
                    }
                
                    &::-webkit-scrollbar-thumb {
                        background-color: #021331;
                    }

                    @keyframes scroll {

                        25% {
                            left: 0%;
                        }

                        50% {
                            left: -100%;
                        }

                        75% {
                            left: -200%;
                        }

                        100% {
                            left: -300%;
                        }

                    } 
                }
            }
        
        }

        .paginate {

            font-size: 2rem;

            span {
                margin: 0 1.5rem;
                color: #7a89bb; 
                cursor: pointer;            
            }

            .active {
                width: 4rem;
                height: 4rem;
                text-align: center;
                line-height: 4rem;
                background: -webkit-linear-gradient(169deg, #5560ff 0%, #ff4343 100%);
                border-radius: 50%;
                color: #ffffff;
                display: inline-block;
            }
        }

        .aside {

            .widget {

                border-radius: 1rem;
                background-color: #032055;
                padding: 3rem;
                margin-bottom: 3rem;
                overflow: hidden;

                    h2 {
                        color: $primary-color;
                        font-size: 2.4rem;
                    }

                    input {
                        width: 100%;
                        height: 3rem;
                        background: transparent;
                        outline: none;
                        display: flex;
                        align-items: center;
                        overflow: hidden;
                        border: none;
                        border-bottom: .1rem solid #2d4186;
                        margin-top: 1rem;
                        color: $primary-color;
                    }

                    &::-webkit-input-placeholder {
                        color: red;
                    }

                    .button-search {
                        width: 15rem;
                        outline: none;
                        color: #ffffff;
                        height: 4rem;
                        border-radius: 2rem;
                        margin-top: 2rem;
                        background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        h6 {
                            margin: 0;
                            font-size: 1.6rem;
                        }
                    }

                    .post-image {
                        position: relative;
                        right: 0;
                        animation: scroll_post 1.5s infinite;
                        transition: all 0.25s ease 0s;
                        transition-delay: 1s;

                        img {
                            border-radius: 1rem;                     
                        }
                        
                        @keyframes scroll_post {
                            0% {
                                right: -100%;
                            }
                        }                   
                    }

                    .post-content {
                        margin-top: 2rem;

                        h4 {
                            color: $primary-color;
                        }

                        .meta-post {                         
                            display: flex;
                            
                            p {
                                font-size: 1.6rem;
                                color: #bec3d3;
                                margin-right: 1.5rem;
                            }
                        }
                    }

                    .list {
                        padding: 0;

                        .list-item {

                            display: flex;
                            justify-content: space-between;
                            border-bottom: .2rem dotted #11326f;
                            margin-bottom: 1rem;
                            cursor: pointer;
                            position: relative;
                      
                            h6 {
                                font-size: 1.4rem;
                                color: #bec3d3;

                                &:hover {
                                    color: #00B70C;
                                }
                            }
                           
                        }

                       
                    }
                  
            }
        }
    }
   
}

.footer {
    background-color: $background-color;
    margin-top: 15rem;
    padding: 0 8%;
    border-top: .1rem solid rgb(144, 176, 247);
    background-image: url(bgfooter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $background-color;
    opacity: 0.7;
    
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;

        .box {
            padding-top: 3rem;
            z-index: 1000;

            p {
                line-height: 1.4;
                font-weight: 300;
                font-size: 2rem;
                color: $primary-color;
                padding-top: .5rem;
                text-transform: uppercase;
            }

            a {
                display: block;
                font-size: 1.5rem;
                color: rgb(248, 242, 242);
                padding: .5rem 0;
                text-decoration: none;
                transition: all .2s linear;

                &:hover {
                    padding-left: 1rem;
                    color: $text-hover;
                }
            }

            .footer-app {

                img {
                    padding: .5rem 0;
                }
            }
        }

    }

    .credit {
        text-align: center;
        font-size: 2rem;
        color: rgb(209, 211, 212);
        margin-top: 7rem;
    }

}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

    header {
        padding: 1rem 2%;
        height: 11rem;

        .header {

            .logo {
                width: 20rem;
            }

            .search {
                display: none;
            }

            .login {
                margin: 0;
                padding: 0;
            }
        }
        .navbar {
            padding: 1rem 0;
        }
    }

    .slider {

        .banner-conntent {

            font-size: 3.6rem;
            
            h1 {
                font-size: 3.6rem;
            }

            .typing {

                height: 3.5rem;

                .static-text {
                    font-size: 3.6rem;
                }

                .dynamic-texts {

                    height: 8rem;

                    li {
                        font-size: 3.6rem;
                        line-height: 8rem;
                        height: 8rem;

                        @keyframes typing {
                            0%, 90%, 100% {
                                width: 0;
                            }
                            
                            30%, 60% {
                                width: 14rem;
                            }          
                        }  
                    }

                    @keyframes slide {
                        100% {
                            top: -190px;
                        }
                    }
                }
            }

            h2 {
                font-size: 2rem;
                padding: 0 1rem;
            }
        }
        
    }

    .container {

        .movie {         
            padding: 0 6%;
        }

        .review {

            .review-item {
                grid-template-columns: unset;
                grid-auto-flow: column;
                grid-auto-columns: 70%;
                overflow-x: auto;
                scroll-snap-stop: always;

                .box {
                    scroll-snap-align: center;
                }
            }
        }

        .ticket {

            h1 {
                font-size: 3rem;
            }

            .content {
                .ticket_detail {
                    p {
                        margin-top: .5rem;
                    }
                }
            }
        }
    }
    

}