// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    text-align: center;
    text-transform: uppercase;
}

.btn {
    width: 100%;
    margin-top: 10px;

    .btn-primary {
        width: 100%;
    }
}