<div class="footer">

  <div class="box-container">
    <div class="box">   
      <p>Giới thiệu</p>   
      <a href="#">Về chúng tôi</a>
      <a href="#">Thỏa thuận sử dụng</a>
      <a href="#">Quy chế hoạt động</a>
      <a href="#">Chính sách bảo mật</a>   
    </div>

    <div class="box">
      <p>Góc điện ảnh</p>    
      <a href="#">Thể loại phim</a>
      <a href="#">Bình luận phim</a>
      <a href="#">Blog điện ảnh</a>
      <a href="#">Phim hay tháng</a>   
    </div>

    <div class="box">
      <p>Liên hệ</p>
      <a href="#"><i class="fa-solid fa-phone"></i> +123-456-789 </a>
      <a href="#"><i class="fa-solid fa-phone"></i> +987-654-321 </a>
      <a href="#"><i class="fa-solid fa-envelope"></i> huynhphuoclong2@gmail.com </a>
      <a href="#"><i class="fa-solid fa-location-dot"></i> Da Nang, Viet Nam </a>
    </div>

    <div class="box">
      <p>Tải ứng dụng</p>
      <a class="footer-app" target="_blank" href="#">
        <img src="https://www.vinamilk.com.vn/static/images/download-ios.png">
      </a>
      <a class="footer-app" target="_blank" href="#">
        <img src="https://www.vinamilk.com.vn/static/images/download-android.png">
      </a>
    </div>

    <div class="box">
      <p>Kết nối</p>
      <ul class="social-icons d-flex justify-content-star align-item-center">
        <li>
          <i class="fa-brands fa-facebook"></i>
        </li>
        <li>
          <i class="fa-brands fa-twitter"></i>  
        </li>
        <li>
          <i class="fa-brands fa-google"></i>   
        </li>
        <li>
          <i class="fa-brands fa-instagram"></i>  
        </li>
      </ul>
    </div>

  </div>
  
  <div class="credit text-center fs-2 mt-5 text-light"> 
    Created by <span> Long Huynh </span> | All right reserved
  </div>

</div>


