<section class="footer">

  <div class="box-container">
    <div class="box">   
      <p>Giới thiệu</p>   
        <a href="#" class="links">Về chúng tôi</a>
        <a href="#" class="links">Thỏa thuận sử dụng</a>
        <a href="#" class="links">Quy chế hoạt động</a>
        <a href="#" class="links">Chính sách bảo mật</a>
     
    </div>

    <div class="box">
      <p>Góc điện ảnh</p>    
        <a href="#" class="links">Thể loại phim</a>
        <a href="#" class="links">Bình luận phim</a>
        <a href="#" class="links">Blog điện ảnh</a>
        <a href="#" class="links">Phim hay tháng</a>   
    </div>

    <div class="box">
      <p>Liên hệ</p>
        <a href="#" class="links"><i class="fas fa-phone"></i> +123-456-789 </a>
        <a href="#" class="links"><i class="fas fa-phone"></i> +987-654-321 </a>
        <a href="#" class="links"><i class="fas fa-envelope"></i> huynhphuoclong2@gmail.com </a>
        <a href="#" class="links"><i class="fas fa-map-marker-alt"></i> Da Nang, Viet Nam </a>
    </div>

    <div class="box">
      <a class="footer-app" target="_blank" href="https://appsto.re/vn/2t-lib.i">
        <img src="https://www.vinamilk.com.vn/static/images/download-ios.png">
      </a>
      <a class="footer-app" target="_blank" href="https://play.google.com/store/apps/details?id=com.giacmosuaviet">
        <img src="https://www.vinamilk.com.vn/static/images/download-android.png">
      </a>
    </div>

    <div class="box">
      <div class="footer-img">
        <%= image_tag "logoSaleNoti.png", style: 'height:80px;width:auto;' %>
      </div>
    </div>

  </div>

</section>
<div class="credit"> Created by <span> long huynh </span> | all right reserved</div>