<div class="footer">

  <div class="box-container">
    <div class="box">   
      <p>Giới thiệu</p>   
      <a href="#">Về chúng tôi</a>
      <a href="#">Thỏa thuận sử dụng</a>
      <a href="#">Quy chế hoạt động</a>
      <a href="#">Chính sách bảo mật</a>   
    </div>

    <div class="box">
      <p>Góc điện ảnh</p>    
      <a href="#">Thể loại phim</a>
      <a href="#">Bình luận phim</a>
      <a href="#">Blog điện ảnh</a>
      <a href="#">Phim hay tháng</a>   
    </div>

    <div class="box">
      <p>Liên hệ</p>
      <a href="#"> +123-456-789 </a>
      <a href="#"> +987-654-321 </a>
      <a href="#"> huynhphuoclong2@gmail.com </a>
      <a href="#"> Da Nang, Viet Nam </a>
    </div>

    <div class="box">
      <a class="footer-app" target="_blank" href="https://appsto.re/vn/2t-lib.i">
        <img src="https://www.vinamilk.com.vn/static/images/download-ios.png">
      </a>
      <a class="footer-app" target="_blank" href="https://play.google.com/store/apps/details?id=com.giacmosuaviet">
        <img src="https://www.vinamilk.com.vn/static/images/download-android.png">
      </a>
    </div>

    <div class="box">
      <div class="footer-img">
        <%= image_tag "logoSaleNoti.png", style: 'height:80px;width:auto;' %>
      </div>
    </div>

  </div>
  
  <div class="credit"> 
    Created by <span> Long Huynh </span> | All right reserved
  </div>

</div>


