<header class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "Movie app", '#', id: "logo" %>
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", '/' %></li>
            <li><%= link_to "Log in", '#' %></li>
            <li><%= link_to "Sign up", 'sign-up' %></li>
          </ul>
        </nav>
      </div>
</header>