<div class="row">
  <header>
    <%= link_to "Movie app", '#', id: "logo" %>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Log in", '#' %></li>
      <li><%= link_to "Sign up", 'sign-up' %></li>
    </ul>
  </header>
</div>
