<div class="slider">
    <div class="banner-bg">

    </div>
    <div class="banner-conntent">
        <h1>BOOK YOUR</h1>
        <div class="typing">
            <div class="static-text">TICKETS FOR </div>    
            <ul class="dynamic-texts">
                <li><p>MOVIE</p></li>
                <li><p>EVENT</p></li>
                <li><p>SPORT</p></li>
            </ul>
        </div>
        <h2>Safe, secure, reliable ticketing.Your ticket to live entertainment!</h2>
    </div>
</div>